### STICKMEN ERA
[era]
   id=stickmen era   
   name= _ "Stickmen era"
   require_era=yes
   
   {RANDOM_SIDE}
   {~add-ons/Stickmen_Era/factions/evil-STICKMEN.cfg}
   {~add-ons/Stickmen_Era/factions/good-STICKMEN.cfg}
   {multiplayer/factions/loyalists-default.cfg}
   {multiplayer/factions/rebels-default.cfg}
   {multiplayer/factions/northerners-default.cfg}
   {multiplayer/factions/undead-default.cfg}
   {multiplayer/factions/knalgans-default.cfg}
   {multiplayer/factions/drakes-default.cfg}
   {~add-ons/Stickmen_Era/abilities.cfg}
   {ECLIPSE_EVENTS}
[/era]
