#define RUNNER_RECRUITED_ANIMATION
  start_time=0
  [frame]
     duration=100
     image="units/stickmen/corridore_rd_1.png"
     sound=lightning.ogg
  [/frame]
  [frame]
     duration=100
     image="units/stickmen/corridore_rd_2.png"
  [/frame]
  [frame]
     duration=100
     image="units/stickmen/corridore_rd_3.png"
  [/frame]
  [frame]
     duration=100
     image="units/stickmen/corridore_rd_4.png"
  [/frame]
  [frame]
     duration=100
     image="units/stickmen/corridore_rd_5.png"
  [/frame]
  [frame]
     duration=100
     image="units/stickmen/corridore_rd_6.png"
  [/frame]
  [frame]
     duration=100
     image="units/stickmen/corridore_rd_7.png"
  [/frame]
  [frame]
     duration=100
     image="units/stickmen/corridore_rd_8.png"
  [/frame]
  [frame]
     duration=100
     image="units/stickmen/corridore_rd_9.png"
  [/frame]
  [frame]
     duration=100
     image="units/stickmen/corridore_rd_10.png"
  [/frame]
  [frame]
     duration=100
     image="units/stickmen/corridore_rd_11.png"
  [/frame]
#enddef

#define EARTHQUAKE_PROJECTIL_N_E
  missile_start_time=-400
  [if]
    direction=n,ne,nw,s,se,sw
  [missile_frame]
     duration=200
     image="projectils/earthquake_n_e_1.png"
     sound=rumble.ogg
     offset=1.0
  [/missile_frame]
  [missile_frame]
     duration=200
     image="projectils/earthquake_n_e_2.png"
     offset=1.0
  [/missile_frame]
  [missile_frame]
     duration=200
     image="projectils/earthquake_n_e_3.png"
     offset=1.0
  [/missile_frame]
  [missile_frame]
     duration=200
     image="projectils/earthquake_n_e_4.png"
     offset=1.0
  [/missile_frame]
  [missile_frame]
     duration=200
     image="projectils/earthquake_n_e_5.png"
     offset=1.0
  [/missile_frame]
  [missile_frame]
     duration=200
     image="projectils/earthquake_n_e_6.png"
     offset=1.0
  [/missile_frame]
  [missile_frame]
     duration=200
     image="projectils/earthquake_n_e_7.png"
     offset=1.0
  [/missile_frame]
  [missile_frame]
     duration=200
     image="projectils/earthquake_n_e_8.png"
     offset=1.0
  [/missile_frame]
  [missile_frame]
     duration=200
     image="projectils/earthquake_n_e_9.png"
     offset=1.0
  [/missile_frame]
  [missile_frame]
     duration=200
     image="projectils/earthquake_n_e_10.png"
     offset=1.0
  [/missile_frame]
  [missile_frame]
     duration=200
     image="projectils/earthquake_n_e_11.png"
     offset=1.0
  [/missile_frame]
  [missile_frame]
     duration=200
     image="projectils/earthquake_n_e_12.png"
     offset=1.0
  [/missile_frame]
  [missile_frame]
     duration=200
     image="projectils/earthquake_n_e_13.png"
     offset=1.0
  [/missile_frame]
  [/if]
#enddef

#define SHADOW_FOLLOWER_ANIMATION
  start_time=-2250
  [frame]
     duration=150
     image="units/stickmen/seguace_ombre_shadow_1.png"
     offset=0.0
  [/frame]
  [frame]
     duration=150
     image="units/stickmen/seguace_ombre_shadow_2.png"
     offset=0.0
  [/frame]
  [frame]
     duration=150
     image="units/stickmen/seguace_ombre_shadow_3.png"
     offset=0.0
  [/frame]
  [frame]
     duration=150
     image="units/stickmen/seguace_ombre_shadow_4.png"
     offset=0.0
  [/frame]
  [frame]
     duration=150
     image="units/stickmen/seguace_ombre_shadow_5.png"
     offset=0.0
  [/frame]
  [frame]
     duration=150
     image="units/stickmen/seguace_ombre_shadow_6.png"
     offset=0.0
  [/frame]
  [frame]
     duration=150
     image="units/stickmen/seguace_ombre_shadow_7.png"
     offset=0.0
  [/frame]
  [frame]
     duration=150
     image="units/stickmen/seguace_ombre_shadow_8.png"
     offset=0.0
  [/frame]
  [frame]
     duration=150
     image="units/stickmen/seguace_ombre_shadow_9.png"
     offset=0.0
  [/frame]
  [frame]
     duration=150
     image="units/stickmen/seguace_ombre_shadow_10.png"
     offset=0.0
  [/frame]
  [frame]
     duration=150
     image="units/stickmen/seguace_ombre_shadow_11.png"
     offset=0.0
  [/frame]
  [frame]
     duration=150
     image="units/stickmen/seguace_ombre_shadow_12.png"
     offset=0.0
  [/frame]
  [frame]
     duration=150
     image="units/stickmen/seguace_ombre_shadow_13.png"
     offset=0.0
  [/frame]
  [frame]
     duration=150
     image="units/stickmen/seguace_ombre_shadow_14.png"
     offset=0.0
  [/frame]
  [frame]
     duration=150
     image="units/stickmen/seguace_ombre_shadow_15.png"
     offset=0.0
  [/frame]
  [frame]
     duration=150
     image="units/stickmen/seguace_ombre_shadow_16.png"
     offset=0.0
  [/frame]
  [frame]
     duration=150
     image="units/stickmen/seguace_ombre_shadow_17.png"
     offset=0.0
  [/frame]
  [frame]
     duration=150
     image="units/stickmen/seguace_ombre_shadow_18.png"
     offset=0.0
  [/frame]
  [frame]
     duration=150
     image="units/stickmen/seguace_ombre_shadow_19.png"
     offset=0.0
  [/frame]
  [frame]
     duration=150
     image="units/stickmen/seguace_ombre_shadow_20.png"
     offset=0.0
  [/frame]
  [frame]
     duration=150
     image="units/stickmen/seguace_ombre_shadow_21.png"
     offset=0.0
  [/frame]
#enddef
#define TORNADO_PROJECTILS
  missile_start_time=-2600
  [if]
     direction=n,ne,nw
     [missile_frame]
        duration=100
        image="projectils/tornado_1.png"
        offset=0.0
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_2.png"
        offset=0.0
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_3.png"
        offset=0.0
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_4.png"
        offset=0.0
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_5.png"
        offset=0.0
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_6.png"
        offset=0.05
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_7.png"
        offset=0.1
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_8.png"
        offset=0.15
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_6.png"
        offset=0.2
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_7.png"
        offset=0.25
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_8.png"
        offset=0.3
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_6.png"
        offset=0.35
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_7.png"
        offset=0.4
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_8.png"
        offset=0.45
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_6.png"
        offset=0.5
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_7.png"
        offset=0.55
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_8.png"
        offset=0.6
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_6.png"
        offset=0.65
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_7.png"
        offset=0.7
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_8.png"
        offset=0.75
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_6.png"
        offset=0.8
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_7.png"
        offset=0.85
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_8.png"
        offset=0.9
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_6.png"
        offset=0.95
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_7.png"
        offset=1.0
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_8.png"
        offset=1.0
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_6.png"
        offset=1.0
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_7.png"
        offset=1.0
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_8.png"
        offset=1.0
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_9.png"
        offset=1.0
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_10.png"
        offset=1.0
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_11.png"
        offset=1.0
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_12.png"
        offset=1.0
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_13.png"
        offset=1.0
     [/missile_frame]
  [/if]
  [else]
     direction=s,se,sw
     [missile_frame]
        duration=100
        image="projectils/tornado_1.png~FL(vert)"
        offset=0.0
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_2.png~FL(vert)"
        offset=0.0
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_3.png~FL(vert)"
        offset=0.0
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_4.png~FL(vert)"
        offset=0.0
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_5.png~FL(vert)"
        offset=0.0
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_6.png~FL(vert)"
        offset=0.05
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_7.png~FL(vert)"
        offset=0.1
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_8.png~FL(vert)"
        offset=0.15
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_6.png~FL(vert)"
        offset=0.2
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_7.png~FL(vert)"
        offset=0.25
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_8.png~FL(vert)"
        offset=0.3
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_6.png~FL(vert)"
        offset=0.35
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_7.png~FL(vert)"
        offset=0.4
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_8.png~FL(vert)"
        offset=0.45
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_6.png~FL(vert)"
        offset=0.5
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_7.png~FL(vert)"
        offset=0.55
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_8.png~FL(vert)"
        offset=0.6
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_6.png~FL(vert)"
        offset=0.65
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_7.png~FL(vert)"
        offset=0.7
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_8.png~FL(vert)"
        offset=0.75
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_6.png~FL(vert)"
        offset=0.8
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_7.png~FL(vert)"
        offset=0.85
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_8.png~FL(vert)"
        offset=0.9
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_6.png~FL(vert)"
        offset=0.95
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_7.png~FL(vert)"
        offset=1.0
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_8.png~FL(vert)"
        offset=1.0
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_6.png~FL(vert)"
        offset=1.0
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_7.png~FL(vert)"
        offset=1.0
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_8.png~FL(vert)"
        offset=1.0
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_9.png~FL(vert)"
        offset=1.0
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_10.png~FL(vert)"
        offset=1.0
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_11.png~FL(vert)"
        offset=1.0
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_12.png~FL(vert)"
        offset=1.0
     [/missile_frame]
     [missile_frame]
        duration=100
        image="projectils/tornado_13.png~FL(vert)"
        offset=1.0
     [/missile_frame]
  [/else]
#enddef