#textdomain wesnoth-Stickmen_Era

[unit_type]
    id=STICKMEN_combattente
    name= _ "Fighter"
    race=STICKMEN_stickman
    gender=male
    image="units/stickmen/combattente.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
#   profile= ??
    ellipse="misc/ellipse"
    hitpoints=35
    movement_type=smallfoot
    [resistance]
        pierce=70
        blade=120
        arcane=100
    [/resistance]
    movement=5
    experience=38
    level=1
    alignment=lawful
    advances_to=STICKMEN_guerriero,STICKMEN_lame_danzanti
    cost=14
    usage=fighter
    description= _ "A fighter, although he hasn't particular connections with nature, he's a promise in the use of the word. Those who fail to feel the elements are called by their people "plariaks", which in the ancient language of stickmen means "without-essence"."
    die_sound=die-stick-1.wav
    [attack]
	name=sword
	description= _ "sword"
	icon=attacks/sword-human.png
        type=blade
	range=melee
	damage=6
	number=3
     [/attack]
[/unit_type]
