#textdomain wesnoth-Stickmen_Era

[unit_type]
    id=STICKMEN_adolescente_c
    name= _ "Teenager"
    race=STICKMEN_stickman2
    gender=male
    image="units/stickmen/adolescente.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
#   profile= ??
    ellipse="misc/ellipse"
    hitpoints=19
    movement_type=smallfoot
    [resistance]
        pierce=80
        arcane=100
    [/resistance]
    movement=5
    experience=20
    level=0
    alignment=chaotic        
advances_to=STICKMEN_bruto,STICKMEN_karate_kid,STICKMEN_corridore,STICKMEN_cacciatore,STICKMEN_seguace_ombre
    cost=9
    usage=fighter
    description= _ "[DESCRIPTION]"
    die_sound={SOUND_LIST:HUMAN_DIE}
    [attack]
	name=fist
	description= _ "fist"
	icon=attacks/fist-stick.png
        type=impact
	range=melee
	damage=5
	number=2
     [/attack]
    [attack_anim]
        [filter_attack]
            name=fist
        [/filter_attack]
        hits=yes
        [frame]
            begin=0
            end=200
            image="units/stickmen/adolescente.png"
            sound=fist.ogg
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=fist
        [/filter_attack]
        hits=no
        [frame]
            begin=0
            end=200
            image="units/stickmen/adolescente.png"
            sound={SOUND_LIST:MISS}
        [/frame]
    [/attack_anim]
[/unit_type]
